body {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 51px;
    margin-left: 21px;
}

.container {
    max-width: 1528px;
    width: 100%;
    margin: 0 auto;
}

.header-top {
    background-color: #FAFAFA;
    border-radius: 0px 0px 12px 12px;
    max-height: 70px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-bottom: 38px;
}

.left-content {
    display: flex;
    align-items: center;
}

.left-content img {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.center-content {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.center-content img {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

#change-location {
    color: #FC8A06;
    text-decoration: underline;
    margin-left: 15px;
}

.right-content {
    background-color: #028643;
    color: white;    
    display: flex;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 41px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.checked {
    background-color: #FC8A06;
    color: white;
    padding: 8px 34px;
    border-radius: 120px;
}

.login {
    background-color: #03081F;
    padding: 17px 26.38px;
    color: white;
    border-radius: 120px;
}

.login img {
    margin-right: 11.47px;
    max-width: 30.97px;
    max-height: 27px;
    height: 100%;
    width: 100%;
}

.pop-rest {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #FC8A06;
    font-size: 18px;
    font-weight: 700;
    max-width: 238px;
    max-height: 266px;
    color: white;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    margin-right: 20px;
}

.card:last-of-type {
    margin-right: 0px;
}